@import "tailwindcss";

@theme {
    --color-brand-primary: #2563eb;
    --color-brand-secondary: #4f46e5;
    --color-brand-dark: #0f172a;

    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
    body {
        font-family: var(--font-sans);
        @apply bg-[#f5f6fa] text-slate-900;
    }
}

@layer utilities {
    @keyframes carnival-pulse {
        0% {
            box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.7);
            transform: scale(1);
            border-color: #ef4444;
            /* Red */
        }

        25% {
            border-color: #f59e0b;
            /* Amber */
        }

        50% {
            box-shadow: 0 0 0 6px rgba(239, 68, 68, 0);
            transform: scale(1.15);
            border-color: #3b82f6;
            /* Blue */
        }

        75% {
            border-color: #10b981;
            /* Green */
        }

        100% {
            box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
            transform: scale(1);
            border-color: #ef4444;
        }
    }

    .animate-carnival {
        animation: carnival-pulse 1.5s infinite;
        background-color: rgba(255, 255, 255, 0.1);
        border-width: 3px;
        border-style: solid;
        z-index: 50;
    }
}