@import "tailwindcss";

@theme {
    --color-brand-primary: #2563eb;
    --color-brand-secondary: #4f46e5;
    --color-brand-dark: #0f172a;

    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
    body {
        font-family: var(--font-sans);
        @apply bg-slate-50 text-slate-900;
    }
}